    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        font-family: 'Metal Mania', cursive;
    }
    
    header {
        height: calc(100vh - 150px);
        background-image: url('../assets/header-page1.jpg');
        background-position: no-repeat center/cover;
    }
    
    img {
        display: flex;
    }
    
    header nav {
        display: flex;
        justify-content: space-between;
        margin: auto 30px;
    }
    
    header nav p {
        font-size: x-large;
        display: flex;
        color: #fd9644;
    }
    
    header nav p span {
        width: 60px;
        height: 60px;
        display: flex;
        background-image: url('../assets/ab60.png');
        background-repeat: no-repeat;
    }
    
    header nav ul {
        display: flex;
        list-style: none;
    }
    
    header nav li {
        margin: 0 15px;
    }
    
    .header-content {
        max-width: 400px;
        margin: 150px auto;
        text-align: center;
    }
    
    .header-button {
        margin-top: 10px;
        border-radius: 6px;
        padding: 10px 15px;
        font-family: 'Metal Mania', cursive;
        background: #f0932b;
    }
    
    .pacotes {
        background-color: #dfe6e9;
        /* height: 500px;*/
    }
    
    .pacotes .pacotes-card {
        display: flex;
        margin: auto;
        max-width: 950px;
        flex-wrap: wrap;
        justify-content: center;
        transition: 3s;
    }
    
    .pacotes .pacotes-title h1 {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    .pacotes h1 {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 15px;
    }
    
    .pacotes .card {
        width: 250px;
        height: 350px;
        background-color: blue;
        border-radius: 24px 0;
        margin: 25px auto;
        position: relative;
        transition: width 2s, height 2s, transform 2s;
    }
    
    .pacotes .card:hover {
        transform: rotate(10deg);
    }
    
    .pacotes .card-image {
        width: 250px;
        height: 200px;
        border-radius: 24px 0 0 0;
        object-fit: cover;
    }
    
    .pacotes .card-content ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0px;
    }
    
    .pacotes .header-content ul li {
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        margin: 10px 10px;
    }
    
    .pacotes .header-content ul li svg {
        width: 18px;
        height: 18px;
        margin-right: 10px;
    }
    
    .pacotes .card-content h1 {
        font-size: 1rem;
    }
    
    .pacotes .card-content {
        padding: 0 15px;
    }
    
    .pacotes .card .card-tag-top {
        position: absolute;
        right: 0;
        background-color: gold;
        border-radius: 8px 0 0 8px;
        padding: 5px 8px;
    }
    
    @media (max-width: 480px) {
        body {
            margin-bottom: 55px;
        }
        header nav ul {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 0;
            margin: 0;
            z-index: 100;
            background: chocolate;
            height: 55px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        header nav p {
            display: flex;
            width: 100%;
            text-align: center;
        }
        header nav p span {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }